<!DOCTYPE html>
<html>

<head>
  <title>12장기</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="main.css?ver=1.1.1" />
</head>

<body>
  <header>
    <div class="site-title-nav">
      <img class="title_img" src='./assets/g0.png' alt="main_image" width="77" height="77">
      <h1 class="site-title">
        <a class="navbar-brand" href="localhost:3000"> 십 이 장 기 </a>
      </h1>
      <nav id="navbar">
        <section>
          <a href="/">
            <span class="play">플레이</span>
          </a>
        </section>
        <section>
          <a href="/">
            <span class="learn">배우기</span>
          </a>
        </section>
        <section>
          <a href="/">
            <span class="tool">도구</span>
          </a>
        </section>
      </nav>
    </div>
  </header>
  <div class="main-wrap">
    <section>
      <p>현재인원</p>
      <p id="population">0</p>
    </section>
    <section class="game-mode">
      <!-- <input type="button" id="startbtn" value="컴퓨터대전" onclick="location.href='/computer'"> -->
      <input type="button" id="startbtn" value="혼자놀기" onclick="location.href='./single'">
      <input type="button" id="multibtn" value="멀티플레이 방만들기" onclick="create()">
      <input type="button" id="startbtn" value="게임설명" onclick="location.href='./rule'">
      <p>
        <a href='https://github.com/119wjw/janggi12' target='_blank' rel='noreferrer'>
          <img src='./assets/GitHub-Mark-32px.png' width='32' height='32' alt='github_logo' />
        </a>
      </p>
      <div>ver: 1.0.0 -alpha</div>
    </section> 
    <section class="game-room">
      <div class="room-wrapper">
        game-room
        <div id="room-list"></div>
      </div>
    </section>
    <section class="chat">
      <div id="messages"></div>
      <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
      </form>
    </section>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var form = document.getElementById('form');
    var input = document.getElementById('input');
    var messages = document.getElementById('messages');
    var population = document.getElementById('population');
    var roomList = document.getElementById('room-list');

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      if (input.value) {
        socket.emit('message', input.value);
        input.value = '';
      }
    });

    socket.emit('get-room-info', (roomInfo) => {
      console.log(roomInfo);
      for(let i = 0; i<roomInfo.length; i++){
        const {id, name} = roomInfo[i];
        let li = document.createElement('li');
        li.textContent = `id : ${id}, name : ${name}`;
        li.onclick = function(){
          window.location.href=`http://localhost:3000/room?id=${id}`;
        }
        roomList.appendChild(li);  
      }
    })

    socket.on('message', function (msg) {
      var item = document.createElement('li');
      item.textContent = msg;
      messages.appendChild(item);
      //window.scrollTo(0, document.body.scrollHeight);
    });

    socket.on('population', function(msg){
      population.textContent = msg;
    })

    socket.on('update-room', function(msg){
      var li = document.createElement('li');
      li.textContent = msg;
      li.onclick = function(){
        window.location.href=`http://localhost:3000/room?id=${li.textContent}`;
      }
      roomList.appendChild(li);
    })

    function create() {
      socket.emit('create-room', "roomNameHere", (roomId) => {
        window.location.href=`http://localhost:3000/room?id=${roomId}`;
      });
    }
  </script>
</body>

</html>