<!DOCTYPE html>
<html>

<head>
  <title>12장기</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="board.css?ver=1.1.1" />
</head>

<body>
  <div class="poro-board">
    <div class="poro-tile poro-tile-red00"></div>
    <div class="poro-tile poro-tile-red01"></div>
    <div class="poro-tile poro-tile-red02"></div>
    <div class="poro-tile poro-tile-red03"></div>
    <div class="poro-tile poro-tile-red04"></div>
    <div class="poro-tile poro-tile-red05"></div>
  </div>
  <div class="board">
    <div class="tile tile00"></div>
    <div class="tile tile01"></div>
    <div class="tile tile02"></div>
    <div class="tile tile10"></div>
    <div class="tile tile11"></div>
    <div class="tile tile12"></div>
    <div class="tile tile20"></div>
    <div class="tile tile21"></div>
    <div class="tile tile22"></div>
    <div class="tile tile30"></div>
    <div class="tile tile31"></div>
    <div class="tile tile32"></div>
  </div>
  <div class="poro-board">
    <div class="poro-tile poro-tile-green00"></div>
    <div class="poro-tile poro-tile-green01"></div>
    <div class="poro-tile poro-tile-green02"></div>
    <div class="poro-tile poro-tile-green03"></div>
    <div class="poro-tile poro-tile-green04"></div>
    <div class="poro-tile poro-tile-green05"></div>
  </div>
  <section class="chat">
    <div id="messages"></div>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
  </section>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="game.js"></script>
</body>

</html>