.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: 308px;
	box-sizing: border-box;
	border: 1px solid black;
}
.tile {
	display: flex;
	width: 100px;
	height: 100px;
	border-color: black;
	border-style: solid;
	justify-content: center;
	align-items: center;
}
.tile-selected {
	background-color: rgba(67, 59, 192, 0.5) !important;
}
.tile00 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 60, 60, 0.5);
}
.tile01 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 60, 60, 0.5);
}
.tile02 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 60, 60, 0.5);
}
.tile10 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 240, 80, 0.5);
}
.tile11 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 240, 80, 0.5);
}
.tile12 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 240, 80, 0.5);
}
.tile20 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 240, 80, 0.5);
}
.tile21 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 240, 80, 0.5);
}
.tile22 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(240, 240, 80, 0.5);
}
.tile30 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(90, 230, 20, 0.5);
}
.tile31 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(90, 230, 20, 0.5);
}
.tile32 {
	border-width: 1px 1px 1px 1px;
	background-color: rgba(90, 230, 20, 0.5);
}

.poro-board {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	width: 300px;
	margin: 20px 0px 20px 0px;
}
.poro-tile {
	display: flex;
	border-width: 1px 1px 1px 1px;
	border-color: black;
	border-style: solid;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
}
