<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>12장기</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="ggDEoUS5A0l4r_hYmouHqpt6BMlW6lENuwdv4CKGnNE" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/game.css" />
    <link rel="stylesheet" href="css/rule.css" />
</head>
