.wrap {
    position: relative;
}

canvas {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

#board {
    background: #eee;
}

#messages {
    overflow: scroll;
    border: 1px solid black;
    width: 400px;
    height: 600px;
}
