.navbar{
    background-color: var(--color-primary);
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    height: 64px;
}

.navbar__logo__title {
    font-size: 24px;
    color: var(--color-white);
    font-weight: bold;
}

.lobby {
    display: flex;
    margin : 60px 10%;
    justify-content: space-between;
}

.lobby__start__button {
    cursor : pointer;
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    display: flex;
    font-weight: bold;
    width: 240px;
    height: 62px;
    align-items: center;
    justify-content: center;
}

.lobby__start > a:nth-child(2) > div {
    border-top: 0;
    border-bottom: 0;
}

.lobby__start__button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.4s;
}

.lobby__population {
    display: flex;
    font-weight: bold;
}

.lobby__github {
    display: flex;
    align-items: center;
}

.lobby__gameroom {
    width: 600px;
    height: 400px;
    border: 1px solid var(--color-grey);
    overflow: auto;
}

.lobby__gameroom__thead {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 32px;
    width: 100%;
}

.lobby__gameroom tbody tr:nth-child(2n) {
    background-color: var(--color-grey);
}

.lobby__gameroom tbody tr:nth-child(2n+1) {
    background-color: var(--color-white);
}

.lobby__participants {
    width: 300px;
    border: 1px solid var(--color-grey);
}

.lobby__participants__info {
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-white);
    align-items: center;
    font-weight: bold;
    height: 32px;
}

.lobby__participants__info span {
    width: 150px;
    text-align: center;
}

.lobby__participants__list {
    height: 200px;
    overflow: auto;
}

.lobby__participants__list table tbody tr th{
    width: 150px;
}

.lobby__participants table tbody tr:nth-child(2n) {
    background-color: var(--color-grey);
}

.lobby__participants table tbody tr:nth-child(2n+1) {
    background-color: var(--color-white);
}
