.navbar{
    background-color: var(--color-primary);
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    height: 64px;
}

.navbar__logo__title {
    font-size: 24px;
    color: var(--color-white);
    font-weight: bold;
}

.lobby {
    display: flex;
    margin : 60px 10%;
    justify-content: space-between;
}

.lobby__start__button {
    cursor : pointer;
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-grey);
    display: flex;
    font-weight: bold;
    width: 240px;
    height: 62px;
    align-items: center;
    justify-content: center;
}

.lobby__start > a:nth-child(2) > div {
    border-top: 0;
    border-bottom: 0;
}

.lobby__start__button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.4s;
}

.lobby__population {
    display: flex;
    font-weight: bold;
}

.lobby__github {
    display: flex;
    align-items: center;
}

.lobby__gameroom__info {
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    width: 602px;
    height: 32px;
    align-items: center;
}

.lobby__gameroom__info span {
    text-align: center;
}

.lobby__gameroom__info span:nth-child(1) {
    width: 100px;
}

.lobby__gameroom__info span:nth-child(2) {
    width: 300px;
}

.lobby__gameroom__info span:nth-child(3) {
    width: 100px;
}

.lobby__gameroom__info span:nth-child(4) {
    width: 100px;
}

.lobby__gameroom__list {
    width: 600px;
    height: 500px;
    overflow: auto;
    border: 1px solid var(--color-grey);
}

.lobby__gameroom table tbody tr th:nth-child(1) {
    width: 100px;
}

.lobby__gameroom table tbody tr th:nth-child(2) {
    width: 300px;
}

.lobby__gameroom table tbody tr th:nth-child(3) {
    width: 100px;
}

.lobby__gameroom table tbody tr th:nth-child(4) {
    width: 100px;
}

.lobby__gameroom tbody tr:nth-child(2n) {
    background-color: var(--color-grey);
}

.lobby__gameroom tbody tr:nth-child(2n+1) {
    background-color: var(--color-white);
}

.lobby__participants {
    width: 300px;
    border: 1px solid var(--color-grey);
}

.lobby__participants__info {
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-white);
    align-items: center;
    font-weight: bold;
    height: 32px;
}

.lobby__population {
    margin: 10px 0;
}

.lobby__participants__info span {
    width: 150px;
    text-align: center;
}

.lobby__participants__list {
    height: 200px;
    overflow: auto;
}

.lobby__participants__list table tbody tr th{
    width: 150px;
}

.lobby__participants table tbody tr:nth-child(2n) {
    background-color: var(--color-grey);
}

.lobby__participants table tbody tr:nth-child(2n+1) {
    background-color: var(--color-white);
}

.lobby__message {
    width: 300px;
}

.lobby__message__list {
    border: 1px solid var(--color-grey);
    height: 260px;
    overflow: auto;
}

.lobby__message__list > p {
    padding: 2px 4px;
}

.modal__createroom {
    background-color: var(--color-white);
    width: 400px;
    height: 300px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 62px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.modal__form {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 20px;
}

.modal__close__btn {
    cursor: pointer;
}

.modal__form p {
    font-size: 18px;
}

.modal__form__title input {

    width: 100%;
}

.modal__form__open {
    display: flex;
    align-items: center;
    justify-content: end;
}

.modal__form__open input{
    width: 18px;
}

.modal__form button {
    height: 32px;
    margin: 80px 0 0 0;
}