<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>

<header th:replace="fragments/header :: header">
</header>

<div class="lobby">

    <div>

        <div class="lobby__start">
            <div id="create__room__button" class="lobby__start__button">멀티플레이 방만들기</div>
            <a href="/single"><div class="lobby__start__button">혼자 연습하기</div></a>
            <a href="/rule"><div class="lobby__start__button">게임설명</div></a>
        </div>

        <div>
            <a class="lobby__github" href='https://github.com/wiizii/janggi12' target='_blank' rel='noreferrer'>
                <img src='./assets/GitHub-Mark-32px.png' width='32' height='32' alt='github_logo' />
                <span style="font-style: italic;"> Made By wizi</span>
            </a>
            <div>ver. 1.2.0</div>
        </div>

    </div>

    <div>

        <div class="lobby__gameroom">
            <div class="lobby__gameroom__info">
                <span>플레이어</span>
                <span>방 이름</span>
                <span>공개</span>
                <span>인원</span>
            </div>
            <div class="lobby__gameroom__list">
                <table>
                    <tbody id="gameroom">
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr><tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                        <tr>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div>

        <div class="lobby__participants">
            <div class="lobby__participants__info">
                <span>닉네임</span>
                <span>점수</span>
            </div>
            <div class="lobby__participants__list">
                <table>
                    <tbody id="participants">
                        <tr class="lobby__participants__tr">
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="lobby__population">
            <p>현재접속인원 :&nbsp;</p>
            <p id="population">0</p>
        </div>

        <div class="lobby__message">
            <div id="messages" class="lobby__message__list">
            </div>
            <form id="form">
                <input type="text" id="chat__input" maxlength="60" placeholder="메세지입력 (최대60자)" autocomplete="off"/>
                <button id="chat__submit__btn" type="submit">보내기</button>
            </form>
        </div>

    </div>

</div>

<div id="create__room__modal" class="modal">
    <div class="modal__content modal__createroom">
        <div class="modal__title">
            <span>방만들기</span>
            <span id="modal__close__btn" class="modal__close__btn">&times;</span>
        </div>
        <form class="modal__form">
            <div class="modal__form__title">
                <p>방 이름</p>
                <input type="text" name="title" maxlength="10" placeholder="최대 10글자" required>
            </div>
            <div class="modal__form__open">
                <input type="checkbox" name="open" value="false">
                <span>비공개</span>
            </div>
            <button type="submit">생성</button>
        </form>
    </div>
</div>

<script type="module" src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</body>
</html>