<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>

<header th:replace="fragments/header :: header">
</header>

<div class="lobby">

    <div>

        <div class="lobby__start">
            <div class="lobby__start__button">멀티플레이 방만들기</div>
            <a href="/single"><div class="lobby__start__button">혼자 연습하기</div></a>
            <a href="/rule"><div class="lobby__start__button">게임설명</div></a>
        </div>

        <div>
            <a class="lobby__github" href='https://github.com/wiizii/janggi12' target='_blank' rel='noreferrer'>
                <img src='./assets/GitHub-Mark-32px.png' width='32' height='32' alt='github_logo' />
                <span style="font-style: italic;"> Made By wizi</span>
            </a>
            <div>ver. 1.2.0</div>
        </div>

    </div>

    <div>

        <div class="lobby__gameroom">
            <table>
            <thead class="lobby__gameroom__thead">
                <tr>
                    <th style="width: 100px;">플레이어</th>
                    <th style="width: 300px;">방 이름</th>
                    <th style="width: 100px;">공개</th>
                    <th style="width: 100px;">인원</th>
                </tr>
            </thead>
            <tbody id="gameroom">
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr><tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                </tr>
            </tbody>
            </table>
        </div>

    </div>

    <div>

        <div class="lobby__participants">
            <div class="lobby__participants__info">
                <span>닉네임</span>
                <span>점수</span>
            </div>
            <div class="lobby__participants__list">
                <table>
                    <tbody id="participants">
                        <tr class="lobby__participants__tr">
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                        <tr>
                            <th>wizi</th>
                            <th>2730</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="lobby__population">
            <p>현재접속인원 :&nbsp;</p>
            <p id="population">0</p>
        </div>

        <div class="lobby__message">
            <div id="messages" class="lobby__message__list">
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
                <p>wizi: test</p>
            </div>
            <form id="form">
                <input type="text" id="input" maxlength="60" placeholder="메세지입력 (최대60자)" autocomplete="off" />
                <button type="submit">보내기</button>
            </form>
        </div>

    </div>

</div>

<!--                    &lt;!&ndash; The Modal &ndash;&gt;-->
<!--                    <div class="modal fade" id="myModal">-->
<!--                        <div class="modal-dialog">-->
<!--                            <div class="modal-content">-->

<!--                                &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--                                <div class="modal-header">-->
<!--                                    <h4 class="modal-title">방만들기</h4>-->
<!--                                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Modal body &ndash;&gt;-->
<!--                                <div class="modal-body">-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="room-name">방 이름(최대 10글자)</label>-->
<!--                                        <input type="text" class="form-control" id="room-name" maxlength="10">-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="create()">확인</button>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>